/*Last thing remaining is to add transitions*/
.campaign-banner .campaign-banner-content {
  display: flex;
  gap: 70px;
}
.campaign-banner .campaign-banner-content .campaign-banner-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;
}

.campaign-banner .campaign-banner-content .campaign-banner-left .slider {
  display: flex;
  gap: 10px;
}

.campaign-banner .campaign-banner-content .campaign-banner-left .slider {
  display: flex;
  gap: 10px;
}

.campaign-banner .campaign-banner-content .campaign-banner-right {
  max-width: 50%;
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .wrap-box-right {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .wrap-box-right
  .top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .wrap-box-right
  .top
  .title {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--gray-800);
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .wrap-box-right
  .top
  .des {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--gray-800);
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .wrap-box-right
  .top
  .extra-content {
  display: flex;
  gap: 10px;
}
.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .wrap-box-right
  .top
  .extra-content
  .right
  .title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: var(--gray-800);
}
.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .wrap-box-right
  .top
  .extra-content
  .right
  .content {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--gray-500);
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .wrap-box-right
  .bottom {
  display: flex;
  flex-direction: column;
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .wrap-box-right
  .warp-avlb {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .wrap-box-right
  .bottom
  .warp-avlb
  .avlb
  .number {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--gray-800);
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .wrap-box-right
  .bottom
  .warp-avlb
  .avlb
  .text-number {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: var(--gray-800);
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .wrap-box-right
  .bottom
  .warp-avlb
  .backer {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: var(--gray-800);
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .bottom
  .line-ablb {
  height: 12px;
  background-color: var(--brand-600);
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .bottom
  .flexible {
  display: flex;
  gap: 10px;
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .bottom
  .flexible
  .percent {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: var(--gray-800);
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .bottom
  .flexible
  .flexible-link {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: var(--gray-800);
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .bottom
  .btn-pick-perk {
  margin-top: 24px;
  width: 100%;
  height: 48px;
  padding: 12px 168px 12px 168px;
  gap: 6px;
  border-radius: 8px;
  opacity: 0px;
  background-color: var(--brand-600);
  color: var(--white);
  cursor: pointer;
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .bottom
  .container-btn-share {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.campaign-banner
  .campaign-banner-content
  .campaign-banner-right
  .bottom
  .container-btn-share
  .btn-share {
  height: 48px;
  gap: 6px;
  border-radius: 8px;
  opacity: 0px;
  border: 1px solid var(--gray-300);
  width: 100%;
  max-width: 50%;
  cursor: pointer;

  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* === campaign-content === */
.campaign-content .nav-tabs {
  border: 1px solid var(--gray-200) !important;
  padding: 6px;
  border: 12px;
  gap: 4px;
  background: var(--gray-50);
  width: fit-content;
}

.campaign-content .nav-tabs .nav-item {
}

.campaign-content .nav-tabs .nav-item .nav-link {
  color: var(--gray-500);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-right: 5px;
}

.campaign-content .nav-tabs .nav-item .nav-link.active {
  border: 1px solid var(--white) !important;
  box-shadow: 0 0 5px #1018281a;
  color: var(--gray-700);
}

.campaign-content .nav-tabs .nav-item .nav-link span {
  border: 1px solid var(--gray-200) !important;
  color: var(--gray-700);
  height: 24px;
  padding: 2px 10px 2px 10px;
  border-radius: 16px;
}

.tab-selected-campaign {
  margin-top: 40px;
}

.tab-selected-campaign .tab-pane .tab-pane-main .available-rewards {
}

.tab-selected-campaign .tab-pane .tab-pane-main .available-rewards .top {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: var(--gray-800);
}

.tab-selected-campaign .tab-pane .tab-pane-main .available-rewards .bottom {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.tab-selected-campaign
  .tab-pane
  .tab-pane-main
  .available-rewards
  .bottom
  .wrap-item {
  padding-left: 10px;
}

.tab-selected-campaign
  .tab-pane
  .tab-pane-main
  .available-rewards
  .bottom
  .wrap-item
  div:first-child {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: var(--dark);
}

.tab-selected-campaign
  .tab-pane
  .tab-pane-main
  .available-rewards
  .bottom
  .wrap-item
  div:last-child {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: var(--gray-600);
}

.tab-selected-campaign
  .tab-pane
  .tab-pane-main
  .available-rewards
  .bottom
  .wrap-item.active {
  border-left: 4px solid var(--brand-600);
}

.tab-selected-campaign .tab-pane .tab-pane-main .warp-content-main {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.tab-selected-campaign .tab-pane .tab-pane-main .warp-content-main .box-item {
}

.tab-selected-campaign
  .tab-pane
  .tab-pane-main
  .warp-content-main
  .box-item
  .title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--dark);
}

.tab-selected-campaign
  .tab-pane
  .tab-pane-main
  .warp-content-main
  .box-item
  .des {
  margin: 10px 0px 32px 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: var(--dark);
}

.tab-selected-campaign
  .tab-pane
  .tab-pane-main
  .wrap-banner-main
  .box-banner-main
  .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: var(--dark);
  margin-bottom: 32px;
}
