@import "./assets/style/index.css";
@import "./assets/fonts/index.css";

:root {
  --color-black: black;
  --color-white: white;

  --color-white-smoke: #fcfcfd;
  --color-brand-300: #84caff;
  --color-brand-400: #53b1fd;
  --color-brand-600: #1570ef;
  --color-brand-700: #175cd3;

  --color-blue-600: #1570ef;
  --color-blue-700: #175cd3;

  --color-gray-25: #88abe8;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #182230;
  --color-gray-900: #101828;
  --color-gray-950: #0c111d;

  --color-text-icon-primary: #111827;
  --color-text-icon-second: #374151;
  --color-text-icon-placeholder: #9ca3af;
  --color-text-description: #6b7280;
  --color-background-base-light: #f9fafb;

  --color-success-50: #ecfdf3;
  --color-success-200: #abefc6;
  --color-success-700: #067647;
  --color-warning-50: #fffaeb;
  --color-warning-200: #fedf89;
  --color-warning-700: #b54708;
  --color-error: #d92d20;

  --font-size-body: 14px;
  --font-family-body: "Inter", sans-serif;
  --font-lalezar: "Lalezar", system-ui;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
}

#header {
  /* position: sticky; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  z-index: 1024;
}

@media only screen and (min-width: 768px) {
  :root {
    --font-size-body: 16px;
  }
}
